<%- include("header_main"); -%>

<body onload="func_dept_ath()">
  <nav class="navbar navbar-inverse" style="border-radius: 0;">
    <div class="container-fluid">
      <div class="navbar-header">
        <ul class="nav navbar-nav" style="padding-left: 20px; padding-right: 20px;">
          <li><a href="/"> <b>HOME</b> </a></li>
        </ul>
        <a id="dept_ath_" class="navbar-brand" style="color:yellow;"> NO DUES | Department Authority </a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/department"> Impose Due </a></li>
        <li><a href="/department_update"> Update Payment </a></li>
      </ul>
    </div>
  </nav>