<%- include("header_main"); -%>
<body>
<nav class="navbar navbar-inverse" style="border-radius: 0;">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav" style="padding-left: 20px; padding-right: 20px;">
        <li><a href="/index"> <b>HOME</b> </a></li>
      </ul>
        <a class="navbar-brand" style="color:yellow;"> NO DUES </a>
      </div>
    <ul class="nav navbar-nav">
        <li><a style="color:white;"><b>Login as:</b> </a></li>
      <li><a href="/loginStudent"> Student </a></li>
      <li><a href="/loginAdmin"> Administrator </a></li>
      <li><a href="/loginDepartment"> Department Authority </a></li>
    </ul>
</nav>