<%- include("header_main"); -%>
<body onload="return func_admin()">
    <nav class="navbar navbar-inverse" style="border-radius: 0;">
        <div class="container-fluid">
            <ul class="nav navbar-nav" style="padding-left: 20px; padding-right: 20px;">
                <li>
                    <a href="./prelogin.html"> <b>HOME</b> </a>
                </li>
            </ul>
            <div class="navbar-header">
                <a id="admin_" class="navbar-brand" style="color:yellow;"> NO DUES | Administrator </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="./admin_1.html"> Register New Student </a></li>
                <li><a href="./admin_2.html"> Delete Existing Student </a></li>
            </ul>
        </div>
    </nav>