<%- include("header_main"); -%>
<body>
<nav class="navbar navbar-inverse" style="border-radius: 0;">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav" style="padding-left: 20px; padding-right: 20px;">
        <li><a href="./index.html"> <b>HOME</b> </a></li>
      </ul>
        <a class="navbar-brand" style="color:yellow;"> NO DUES </a>
      </div>
    <ul class="nav navbar-nav">
        <li><a href="#" style="color:white;"><b>Login as:</b> </a></li>
      <li><a href="./admin_login.html"> Administrator </a></li>
      <li><a href="./dept_ath_login.html"> Department Authority </a></li>
      <li class="active"><a href="./student_login.html"> Student </a></li>
    </ul>
</nav>