<%- include("partials/header_main"); -%>
<body>
    <nav class="navbar navbar-inverse" style="border-radius: 0;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="color:yellow;"> NO DUES </a>
            </div>
        </div>
    </nav>
    <div class="btn-group-vertical">
        <button type="button" class="btn btn-dark btn-lg" style="margin:20rem 0 1rem 50rem;"><a href="/loginStudent">Student</a></button>
        <button type="button" class="btn btn-dark btn-lg" style="margin:1rem 0 1rem 50rem;"><a href="/loginDepartment">Department</a></button>
        <button type="button" class="btn btn-dark btn-lg" style="margin:1rem 0 1rem 50rem;"><a href="/loginAdmin">Admin</a></button>
    </div>
<%- include("partials/footer"); -%>